<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- <title>Livret d'accueil</title> -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>Lieux à tester</title>
</head>
<body class="bg-secondary">
    <header><!-- Menu de navigation -->
        <div class="header">
            <div class="container">
                <div class="header_navbar">
                    <div class="header_navbar-logo">
                        <h1 class="header_navbar-logo--title">LA CITÉ DES PAPES</h1>
                    </div>
                    <div class="header_navbar-menu">
                        <a href="../index.html" class="header_navbar-menu--link">Accueil</a>
                        <a href="atester.html" class="header_navbar-menu--link"> À tester</a>
                        <a href="avisiter.html" class="header_navbar-menu--link">À visiter</a>
                        <a href="info.html" class="header_navbar-menu--link">Autres informations</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="../static/images/avignonweb.png" class="img-fluid background_img" alt="Avignon">
        </div>
    </header>

<div class="msgaccueil p-1">
    <h2>Voici des conseils pour strationner à Avignon</h2> 
</div>

<div class="container">
    
    <div class="row">
        
        <div class="mot p-3 mx-auto col-5 mt-4">
            <h4 class="bold">Parking gratuit :</h4>
            <ul>
                <li>Les Italiens - 1,5 km</li>
            </ul>
            <p>
            Des navettes gratuites (CityZen) passent toutes les 5mn vers la place Pie. Ce parking est la meilleure alternative car il est non payant et accessible même pendant le festival.
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2872.281013543537!2d4.819549115352359!3d43.9535515791122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5ec79576765d9%3A0xd99273a94050489a!2sParking%20des%20italiens!5e0!3m2!1sfr!2sfr!4v1639757914855!5m2!1sfr!2sfr" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        
        <div class="infospratiques  p-3 col-5 mt-4 mx-auto">
            <h4 class="bold">Parking payant :</h4>
            <p>Le tarif est indicatif et peut évoluer :
                <ul>
                    <li>Les Halles - 250m, 16.50€ / 24h</li>
                    <li>Palais des Papes - 800m 17.50€ /24h</li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2872.3266581165585!2d4.8035574153523255!3d43.95260717911221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5eb86bc0e690d%3A0xab736610a989c9cd!2sParking%20du%20Palais%20des%20Papes!5e0!3m2!1sfr!2sfr!4v1639758308587!5m2!1sfr!2sfr" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </ul>
                En juillet et en particulier pendant le festival, l’accès au centre-ville est restreint. Le parking du Palais des Papes reste accessible car l’entrée est située l’extérieur des remparts
            </p>
        </div>
    </div>
</div>

<!-- Pied de page -->
<footer>
    <i>© 2021 Lauréane Anizon</i>
</footer>

<script src="https://kit.fontawesome.com/c18f514422.js" crossorigin="anonymous"></script>

</body>
</html>